//ШРИФТ=====================================================================

$font-family: "Poppins", sans-serif;
$font-size: 16px;

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================
// GOOGLE FONTS (&display=swap)=====================================================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"); // /GOOGLE FONTS=====================================================================

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================

//ШРИФТ=====================================================================
//CONTAINER=====================================================================
$container-width: 1080px;
$container-padding: 15px;
//CONTAINER=====================================================================
//VARIABLES=====================================================================
$orange: #f87661;
$text-black: #333333;
$text-grey: #828282;
$dim-green: #d9e4e2;
//VARIABLES=====================================================================
